.product_wrap {
  display: flex;
  /* justify-content: space-between; */
  gap: 40px;
  margin-bottom: 20px;
}

.product_image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.item_details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item_name {
  font-size: 20px;
  font-weight: 700;
}
.item_price {
  font-size: 16px;
}
.item_desc {
  text-overflow: ellipsis;
}

.quantity_btn {
  background-color: #343a40;
  font-size: 22px;
  /* color: white; */
}

.qty_wrap {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.qty_wrap .qty_btn {
  border: 1px solid #d4d4d4;
  background-color: #f1f3f5;
  padding: 0 10px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
}

.qty_wrap .qty {
  padding: 0 20px;
  font-size: 18px;
  border: 1px solid #d4d4d4;
}
.ind_prc {
  font-size: 18px;
  margin-bottom: 10px;
  /* font-weight: bold; */
  display: flex;
  justify-content: space-between;
}
.total_prc {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
